<mat-card>
  <mat-card-title>User Login</mat-card-title>
  <mat-card-content>
    <form class="example-form">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" value="username">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" value="password">
      </mat-form-field>



    </form>
  </mat-card-content>
</mat-card>

<!-- Angular 13 for Beginners _ Angular FULL Course _ Learn Smart Coding.mp4
//https://rr2---sn-5hne6nzd.googlevideo.com/videoplayback?expire=1666392395&ei=68xSY-WAEs-LgAeX-JywAw&ip=188.213.34.107&id=o-AFosmSylG_o-zr-xHUJGayyC5OLrC3JjgZWLGMhpTIL8&itag=22&source=youtube&requiressl=yes&spc=yR2vpwgvTLBre3wVp-ID8R2tw87jfPg&vprv=1&mime=video%2Fmp4&ns=wa1zqRXosdtMhAZodaB-5egI&cnr=14
-->
<!-- Angular for Beginners Course [Full Front End Tutorial with TypeScript].mp4 | https://rr4---sn-5hneknek.googlevideo.com/videoplayback?expire=1666392210&ei=MsxSY_3-C92m0_wP7LuTuAM&ip=216.131.87.58&id=o-AHv2XKlmNxKaoWRS6ds3eUSrW2hyOxvquIfIQtViueJH&itag=22&source=youtube&requiressl=yes&spc=yR2vpwLSe1nvAof0wZjazxoFPdCYZ6Q&vprv=1&mime=video%2Fmp4&ns=a2CMnswr4X8WbyIC868rKKkI&cnr=14
-->
